{% load static %}
<footer class="footer-area">
    <div class="container">
        <div class="footer-up">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="logo">
                        <img src="{% static 'plast4ce/img/logo-white.png' %}" alt="{{ site_name }}">
                    </div>
                    <div class="contact-info">
                        <p><b>Division:</b> {{ site_name }}</p>
                        <p><b>Focus:</b> {{ division_tagline }}</p>
                        <p><b>E-mail:</b> hello@sahelplast4ce.example</p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 com-sm-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <h6>Company</h6>
                            <ul>
                                <li>
                                    <a href="{% url 'plast4ce:plast4ce_about' %}">About</a>
                                    <a href="{% url 'plast4ce:plast4ce_team' %}">Team</a>
                                    <a href="{% url 'plast4ce:plast4ce_blog' %}">News</a>
                                    <a href="{% url 'plast4ce:plast4ce_projects' %}">Projects</a>
                                    <a href="{% url 'plast4ce:plast4ce_contact' %}">Contact</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <h6>Programs</h6>
                            <ul>
                                <li>
                                    <a href="{% url 'plast4ce:plast4ce_service_detail' 1 %}">Plastic recovery</a>
                                    <a href="{% url 'plast4ce:plast4ce_services' %}">All services</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="subscribe-form">
                        <h6>Newsletter</h6>
                        <form action="#" method="post">
                            {% csrf_token %}
                            <input type="email" name="email" placeholder="Your email" required>
                            <button type="submit"><i class="las la-envelope"></i></button>
                        </form>
                        <p>Updates on circularity and collection programs.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="footer-bottom">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-3 col-12">
                <div class="copyright-area">
                    <p class="copyright-line">&copy; {% now "Y" %} {{ site_name }}. All rights reserved.</p>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <p class="privacy"><a href="#">Terms</a> <a href="#">Privacy</a> <a href="#">Recycling tips</a></p>
            </div>
            <div class="col-lg-3 col-12 text-end">
                <div class="social-area">
                    <a href="#" aria-label="Facebook"><i class="lab la-facebook-f"></i></a>
                    <a href="#" aria-label="YouTube"><i class="lab la-youtube"></i></a>
                    <a href="#" aria-label="Twitter"><i class="lab la-twitter"></i></a>
                    <a href="#" aria-label="Instagram"><i class="lab la-instagram"></i></a>
                    <a href="#" aria-label="LinkedIn"><i class="lab la-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="#top" class="go-top"><i class="las la-angle-up"></i></a>
