{% load static %}
<script src="{% static 'plast4ce/js/popper.min.js' %}"></script>
<script src="{% static 'plast4ce/js/bootstrap.min.js' %}"></script>
<script src="{% static 'plast4ce/js/wow.min.js' %}"></script>
<script src="{% static 'plast4ce/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'plast4ce/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'plast4ce/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'plast4ce/js/slick.js' %}"></script>
<script src="{% static 'plast4ce/js/magnific-popup.min.js' %}"></script>
<script src="{% static 'plast4ce/js/jquery.sticky.js' %}"></script>
<script src="{% static 'plast4ce/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'plast4ce/js/jquery.barfiller.js' %}"></script>
<script src="{% static 'plast4ce/js/main.js' %}"></script>
