{% extends "plast4ce/site_base.html" %}
{% load static %}
{% block title %}Blog — {{ site_name }}{% endblock %}
{% block content %}
{% include 'partials/plast4ce/breadcrumb.html' %}
<div class="blog-area section-padding">
    <div class="container">
        <div class="row justify-content-center">
            {% for post in posts %}
            <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInLeft">
                <div class="single-blog-item">
                    <div class="blog-bg">
                        <img src="{% static post.image %}" alt="">
                        <span class="blog-date">{{ post.date_display }}</span>
                    </div>
                    <div class="blog-content">
                        <p class="blog-meta"><i class="las la-user-circle"></i>{{ post.author }}</p>
                        <h5><a href="{% url 'plast4ce:plast4ce_blog_detail' post.id %}">{{ post.title }}</a></h5>
                        <p>{{ post.excerpt }}</p>
                        <a href="{% url 'plast4ce:plast4ce_blog_detail' post.id %}" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
