{% extends "plast4ce/site_base.html" %}
{% load static %}
{% block title %}Shop — {{ site_name }}{% endblock %}
{% block content %}
{% include 'partials/plast4ce/breadcrumb.html' %}
<div class="shop-area section-padding">
    <div class="container">
        <div class="row">
            {% for product in products %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="single-product-item text-center">
                    <div class="product-img mb-3">
                        <a href="{% url 'plast4ce:plast4ce_shop_detail' product.id %}"><img src="{% static product.image %}" alt="" class="img-fluid"></a>
                    </div>
                    <h4><a href="{% url 'plast4ce:plast4ce_shop_detail' product.id %}">{{ product.title }}</a></h4>
                    <p><del>{{ product.price_old }}</del> <strong>{{ product.price }}</strong></p>
                    <a href="{% url 'plast4ce:plast4ce_cart' %}" class="main-btn border-btn">Add to cart</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
